@model IEnumerable<Product>

<h1>Products</h1>
<table class="table table-bordered">
    <tr>
        <th>ProductID</th>
        <th>Name</th>
        <th>Price</th>
        <th>CategoryID</th>
        <th>OnSale</th>
        <th>StockLevel</th>
    </tr>
    @foreach (var Product in Model)
    {
        <tr>
        <td><a href=/Product/ViewProduct/@Product.ProductID>@Product.ProductID</a></td>                     
        <td>@Product.Name</td>
        <td>@Product.Price</td>
        <td>@Product.CategoryID</td>
        <td>@Product.OnSale</td>
        <td>@Product.StockLevel</td>
        </tr>
    }
    </table>
